<div class="post-comments">
<%=render partial: "shared/add_comment", locals: {current_post: post, current_user: @current_user}%>
<ul class="comments_list">
<% post.comments.each do |comment|%>
 <li><span class="username"><%=(comment.user.name)%></span>: <%=comment.text%></li>
<%end%>
<ul>
</div>